/.idea
/.vscode

### Node template
nuxt/logs
nuxt/*.log
nuxt/npm-debug.log*
nuxt/yarn-debug.log*
nuxt/yarn-error.log*
nuxt/pids
nuxt/*.pid
nuxt/*.seed
nuxt/*.pid.lock
nuxt/lib-cov
nuxt/coverage
nuxt/.nyc_output
nuxt/.grunt
nuxt/bower_components
nuxt/.lock-wscript
nuxt/build/Release
nuxt/node_modules/
nuxt/jspm_packages/
nuxt/typings/
nuxt/.npm
nuxt/.eslintcache
nuxt/.node_repl_history
nuxt/*.tgz
nuxt/.yarn-integrity
nuxt/.env
nuxt/.cache
nuxt/.next
nuxt/.nuxt
nuxt/dist
nuxt/.vuepress/dist
nuxt/.serverless
nuxt/.idea
nuxt/sw.*
nuxt/.DS_Store
nuxt/*.swp

### Laravel template
php/node_modules
php/public/hot
php/public/storage
php/storage/*.key
php/vendor
php/.env
php/.env.backup
php/.phpunit.result.cache
php/docker-compose.override.yml
php/Homestead.json
php/Homestead.yaml
php/npm-debug.log
php/yarn-error.log
